{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}

<section class="d-flex flex-column h-100 w-100 justify-content-between">
    <section class="container pt-5">
        <div class="row mt-3 w-70">
            <div class="col">
                <p class="text-justify">Elaborado por el grupo XXXX</p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row mt-3">
        </div>
        <div class="row mt-5">
           <div class="col-lg-8">
            <div class="card">
			<div class="card card-primary card-outline">
              <div class="card-body">
                <h5 class="card-title">Contacto</h5>

                <p class="card-text">
                  Sicoorlac es desarrollado por el SENA. 
				  ADSI. 
                </p>
                <a href="#" class="card-link">Soporte via Whatasapp</a>
                <a href="#" class="card-link">Soporte via Telegram</a>
              </div>
            </div>
            <section class="container pt-8">
             <div class="text-capitalize ">Instrucciones importantes: < class="text-blue ">
                 1.Usuarios deben tener siempre claro su correo y su contraseña para acceder.  </div>
                    2 El administrador tiene la potestad exclusiva de ingresar o manipular informacion
             </div>
             </section>

            </div>
          </div>
</section>
{% endblock contenido %}
